    <p>Name: <input type="text" name="profile[name]" value="{{profile.name}}"></p><br>
    <p>DOB: <input type="date" name="profile[dob]" value="{{profile.dob}}"></p><br>
    <p>Gender: <input type="text" name="profile[gender]" value="{{profile.gender}}"></p><br>
    <p>Medications: <input type="text" name="profile[medications]" value="{{profile.medications}}"> </p><br>
    <input type="number" style="display: none" class="current" name="profile[user_id]">
