<div class="profileclear">
    <p class="name">Name: <input type="text" name="profile[name]" value="{{profile.name}}"></p><br>
    <input style="display: none" type="date" name="profile[dob]" value="{{profile.dob}}">
    <p>Gender: <input type="text" name="profile[gender]" value="{{profile.gender}}"></p><br>
    <p>Medications: <input type="text" name="profile[medications]" value="{{profile.medications}}"> </p><br>
    <input type="number" style="display: none" class="current" name="profile[user_id]">
</div>
