<div class="displayed-data cue-hide">
  <p id='total-score'>Total Score: </p>
  <p id="severity">Symptom Severity: </p> <br>
  {{#each questions}}
    <p id={{id}}> {{id}}. {{question}}: <br></p>
  {{/each}}
</div>
