$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18pt;
};

p,
.mini {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14pt;
};

.mini {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  //align-items: center;
  //align-content: center;
  };

.intro,
.welcome,
.b-d,
.s-b,
.sub,
.inner,
 {
  text-align: center;
  display: block;
  margin-top: 10px;
};
